.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.login {
  background-color: rgb(164, 217, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  gap: 45px;
  width: 90vw;
  border-radius: 25px;
}
.link {
  transition: all 0.2s ease;
  color: white;
}
.link:hover {
  transform: translateY(-5px);
}
.authError {
  font-size: 1.4rem;
  color: rgb(246, 75, 75);
  text-align: center;
}
.title {
  color: #f7f4e3;
  overflow-y: hidden;
  overflow-wrap: break-word;
  word-break: normal;
  text-wrap: break-word;
}
.notHaveLink{
  overflow-y: hidden;
}
@media (max-width: 500px) {
  .login {
    padding: 10px;
  }
}
@media (max-width: 360px) {
  .title {
    font-size: 1.8rem;
  }
  .notHaveLink {
    font-size: 0.85rem;
  }
  .link{
    font-size: 1rem;
  }
}
@media(max-height:475px){
  .login{
    height: 130vh;
  }
}
