.button {
  transition: 0.2s all ease-in;
  width: 400px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.button:not(:disabled):hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}
.button:disabled{
  opacity:0.3;
  cursor:not-allowed;
}
