.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  margin-right: 150px;
}
.links a {
  text-decoration: none;
  color: #faf7f7;
}
.links a:hover{
    color: var(--principal-green);
}