.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: max-content;
}
.logo img {
  height: 50px;
  width: 50px;
}
.logo h2{
  font-size: 2rem;
}
@media (max-width:375px){
  .logo h2{
    font-size: 1.5rem;
  }
}
@media(max-width:265px){
  .logo h2{
    font-size: 1.25rem;
  }
}
