.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--principal-bg-color);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 20px;
}
.nav .imageLink {
  text-decoration: none;
  color: rgb(49, 36, 36);
}
.nav .imageLink:hover {
  cursor: pointer;
}
.nav .textLink {
  font-size: 20px;
  text-decoration: none;
  color: rgb(49, 36, 36);
}
.nav .textLink:not(:global(.active)):hover {
  color: var(--principal-green);
}
