.button {
  background-color: rgb(57, 216, 57);
  color: white;
  height: 20px;
  width: 125px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 15px;
  font-family: "Inter";
  transition: 200ms all ease-in;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(39, 150, 39);
}
.link:focus-visible {
  outline: 2px solid var(--dark-green-principal);
  border-radius: 15px;
  outline-offset: 5px;
}
.link{
  text-decoration: none;
}

