.button {
  background-color: rgb(57, 216, 57);
  color: white;
  height: 50px;
  width: 125px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 15px;
  transition: 200ms all ease-in;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(39, 150, 39);
}
