.modal {
  position: absolute;
  top: auto;
  right: auto;
}
.menuButton {
  background-color: var(--dark-green-principal);
  color: white;
  height: 7vh;
  width: 60px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
}
.fixed {
  padding-top: 30px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  color: white;
  overflow: scroll;
}

.links {
  gap: 15vh;
  align-content: center;
  position: absolute;
  display: flex;
  height: 100vh;
  width: 60vw;
  flex-direction: column;
  background-color: var(--dark-green-principal);
  z-index: 999;
}
.textLink {
  justify-self: center;
  text-decoration: none;
  height: 10vh;
  color: white;
}
.linkContainer {
  align-items: start;
  display: grid;
  height: 5vh;
  border: 0.2px solid gray;
}
