.cart {
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.enoughProducts {
  width: 100vw;
  min-height: 65px;
  margin-top: 300px;
  margin-bottom: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enoughProducts h2 {
  text-align: center;
  overflow-wrap: break-word;
  word-break: normal;
  color: var(--principal-green);
}
