.cart {
  height: 70vh;
  display: flex-box;
}
.enoughProducts{
  margin-top: 150px;
  margin-bottom: 250px;
  display: flex;
}
.enoughProducts h2{
  text-align: center;
  align-self: center;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: normal;
}