.card {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--dark-green-principal);
  background-color: var(--principal-bg-color);
  min-width: 90vw;
  max-height: 65px;
  border-radius: 17.5px;
  margin: 15px auto;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  flex-grow: 1;
}
.card h3 {
  color: var(--principal-green);
}
.card img {
  height: auto;
  max-height: 50px;
  max-width: fit-content;
  width: 25%;
  align-self: flex-start;
  object-fit: contain;
  flex-shrink: 0;
  overflow-y: hidden;
}
.button {
  background-color: red;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 24px;
  flex-shrink: 0;
}
.button:hover {
  cursor: pointer;
}
.card:hover {
  cursor: pointer;
  background-color: #e3dfcb;
}
.last {
  margin-bottom: 100px;
}
.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  min-width: 90vw; 
}
.price{
  overflow-wrap: nowrap;

}

@media(max-width:380px){
  .card {
    padding-right:8px ;  
    gap: 6px;
  }
  .card h3 {
    font-size: 0.80rem;
  }
  .price, .quantity {
    font-size: 0.80rem;
  }
  .card img{
    object-fit: fill;
  }
}
