@keyframes toUp {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 10px;
  bottom: 200px;
  z-index: 999;
  background-color: whitesmoke;
  width: 450px;
  height: 50px;
  animation: toRight 400ms;
  border-radius: 15px;
  padding-right: 5px;
  padding-left: 5px;
  transition: all ease-in 400ms;
}
.correct {
  border-top: solid 2px greenyellow;
}
.wrong {
  border-top: solid 2px red;
}
.message {
  font-size: 0.75rem;
  font-weight: 600;
}
.message,
.correct {
  color: rgb(47, 52, 39);
}
.message,
.wrong {
  color: rgb(59, 32, 32);
}
.toast {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    animation: toUp 400ms;
    width: 90vw;
    bottom: 175px;
  }
}
