.motives {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}
.motives h1 {
  color: var(--principal-green);
  padding-top: 15px;
  justify-self: center;
  align-self: center;
}
