.motives {
  display: flex;
  flex-direction: column;
}
.motives h1 {
  color: var(--principal-green);
  padding-top: 15px;
  justify-self: center;
  align-self: center;
}
@media (max-width:600px) {
  .motives{
    padding-right:3rem;
    padding-left: 3rem;
  }
  
}
