.errorMessage {
  font-size: 1.5rem;
  color: rgb(249, 73, 73);
}
.errorContainer {
  display: flex;
  width: 90vw;
  height: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 250px;
  margin-top: 250px;
}
