.nav {
  padding: 25px;
  display: flex;
  justify-content: space-around;
  background-color: #f7f4e3;
  gap: 15px;
  align-items: center;
}
.nav .imageLink {
  text-decoration: none;
  color: rgb(49, 36, 36);
}
.nav .imageLink:hover {
  cursor: pointer;
}
.nav .textLink {
  font-size: 20px;
  text-decoration: none;
  color: rgb(49, 36, 36);
}
.nav :global(.active):not(.imageLink) {
  color: rgb(170, 173, 121);
}
.nav .textLink:not(:global(.active)):hover {
  color: rgb(192, 195, 137);
}
