.spinnerContainer {
  position: relative;
  width: 100vw;
  height: 75vh;
  overflow-y: hidden;
}
.spinner {
  overflow: hidden;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spinner h2 {
  overflow-y: hidden;
  width: 100%;
  color: var(--principal-green);
}
