.product{
  display: flex;
  justify-content: space-between;
}
.informations{
  display: flex;
  flex-direction: column;
}
.importantInformations{
  display: flex;
  flex-direction: column;
}
.name{
  align-self: center;
  font-size: 3rem;
  color: rgb(129, 196, 30);
}
.description{
  text-align: center;
  
}