.productsContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 20px;

  max-width: 1200px; /* Limita a largura máxima do bloco inteiro de produtos */
  margin: 0 auto; /* Centraliza o bloco inteiro na tela do site */
  padding: 20px;
}
.products header {
  align-self: center;
  justify-self: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.products header h2 {
  font-family: "Quantico";
}
.spinner {
  align-self: center;
  justify-self: center;
  margin-top: 300px;
  height: 150px;
}
.searchInput {
  margin-top: 20px;
  width: 98%;
  height: 65px;
  border-radius: 15px;
  text-align: start;
  transition: 200ms all ease-in;
  box-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.2);
  padding-left: 8px;
  outline: none;
  border-color: var(--dark-green-principal);
}
.searchInput:focus {
  border-color: var(--dark-green-principal);

  transform: translateY(-2px);
  box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.6);
}
.searchInput:hover {
  border-color: var(--dark-green-principal);

  transform: translateY(-2px);
  box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.6);
}
.enough {
  color: var(--principal-green);
  align-self: center;
  justify-self: center;
  margin-top: 90px;
  margin-bottom: 300px;
}
.lengthDisplay{
  margin-top: 15px;
  text-align: center;
  color: var(--principal-green);
}
@media (max-width: 600px) {
  .productsContainer {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 20px;

    max-width: 95vw; /* Limita a largura máxima do bloco inteiro de produtos */
    margin: 0 auto; /* Centraliza o bloco inteiro na tela do site */
    padding: 1vw;
  }
  .searchInput {
    width: 90vw;
    height: 70px;
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 400px) {
  .searchInput {
    width: 90vw;
    height: 50px;
    align-self: center;
    justify-self: center;
  }
}
