.product {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
  background-color: var(--principal-bg-color);
  padding-bottom: 150px;
}
.imgContainer {
  width: 50%;
  height: 500px;
  aspect-ratio: 1/1;
  display: flex;
  margin-right: auto;
  flex-shrink: 0;
}
.img {
  height: auto;
  width: 100%;
  object-fit: fill;
}
.informations {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
  min-width: 0;
}
.importantInformations {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.name {
  align-self: center;
  font-size: 3rem;
  color: rgb(129, 196, 30);
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}
.description {
  text-align: start;
  font-size: 1.5rem;
  color: var(--dark-green-principal);
}
.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--dark-green-principal);
}
.category {
  font-size: 1.5rem;
}
.seePlus {
  font-size: 1.5rem;
}
.seePlus a {
  color: var(--principal-green);
}
.priceContainer {
  display: flex;
  flex-direction: column;
}
.labelInput {
  font-size: 1.5rem;
  color: rgb(2, 117, 2);
}
.productInput {
  width: 25vw;
  height: 35px;
  border-radius: 10px;
  border-color: var(--principal-green);
  outline: none;
  text-align: center;
  background-color: var(--principal-bg-color);
}
.productInput:focus {
  border-color: var(--principal-green);
  outline: none;
}
.price {
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .product {
    flex-direction: column;
    padding-bottom: 100px;
  }
  .imgContainer {
    width: 100vw;
  }
  .img {
    object-fit: contain;
    width: 100%;
  }
}
@media (max-width: 525px) {
  .productInput {
    width: 75%;
  }
}
