@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
:root {
  --principal-green: rgb(192, 195, 137);
  --dark-green-principal: rgb(170, 173, 121);
  --principal-bg-color: #f7f4e3;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
